---
layout: default
title: Games
menu: games
---
{% assign currentnr = 1 %}{% capture prevnr %}{{ currentnr | minus: 1 }}{% endcapture %}{% capture nextnr %}{{ currentnr | plus: 1 }}{% endcapture %}{% capture offs %}{{ currentnr | minus:1 | times:paginator.per_page }}{% endcapture %}{% for page in site.categories.games limit:paginator.per_page offset:offs %}{% include shortgame.html %}{% endfor %}{% capture offs2 %}{{ currentnr | times:paginator.per_page }}{% endcapture %}{% for page in site.categories.games limit:1 offset:offs2 %}{% assign cntr = '1' %}{% endfor %}{% if cntr == '1' or prevnr != '0' %}
<div class="navi">
  {% if cntr == '1' %}<a href="/games/page{{ nextnr }}" class="prv" title="Older games">&#9664;</a>{% endif %}
  {% if prevnr != '0' %}<a href="{% if prevnr == '1' %}/games{% else %}/games/page{{ prevnr }}{% endif %}" class="nxt" title="Newer games">&#9654;</a>{% endif %}
</div>{% else %}
<hr>{% endif %}