html {
	width: 242px;
	height: 244px;
	overflow: hidden;
}

.bttt {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	background: #fff;
}

.btnot {
	display: block;
	width: 70%;
	margin: 0 auto;
	position: relative;
	top: 38%;
	padding: 0.5em 1em;
	background: rgba(255,255,255,0.7);
	border: 1px solid #000;
	text-decoration: none;
}

.btnot:hover {
	background: rgba(136,221,255,0.7);
}

.btovr {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,0.6);
	text-align: center;
}

.bttable {
	border-collapse: collapse;
	border-spacing: 0;
}

.btf {
    height: 81px;
    width: 80px;
	margin: 0;
	padding: 0;
    border-style: none solid solid none;
    border-width: 1px;
    border-color: #000;
    vertical-align: middle;
    text-align: center;
}

.btf:last-child {
    border-right: 0;
	width: 80px;
}

.btr:first-child .btf {
    height: 80px;
}

.btr:last-child .btf {
    border-bottom: 0;
}

.btLnk {
    display: block;
    width: 100%;
    height: 100%;
}

.btLnk:hover {
    background: #8df;
}

.btsmbl {
	width: 80px;
	height: 80px;
}