---
layout: noaside
title: Media
menu: media
---
{% assign currentnr = 1 %}{% capture prevnr %}{{ currentnr | minus: 1 }}{% endcapture %}{% capture nextnr %}{{ currentnr | plus: 1 }}{% endcapture %}{% capture offs %}{{ currentnr | minus:1 | times:paginator.per_page }}{% endcapture %}{% capture offs2 %}{{ currentnr | times:paginator.per_page }}{% endcapture %}
<article class="item">
    <header>
        <div class="cat">Video</div>
    </header>
    <div class="clearfix">
        {% for page in site.categories.video limit:paginator.per_page offset:offs %}{% include meddex.html %}{% endfor %}{% for page in site.categories.video limit:1 offset:offs2 %}{% assign cntr2 = '1' %}{% endfor %}
	</div>
</article>
<article class="item">
    <header>
        <div class="cat">Image</div>
    </header>
    <div class="clearfix">
		{% for page in site.categories.image limit:paginator.per_page offset:offs %}{% include meddex.html %}{% endfor %}{% for page in site.categories.image limit:1 offset:offs2 %}{% assign cntr1 = '1' %}{% endfor %}
	</div>
</article>
<article class="item">
    <header>
        <div class="cat">Audio</div>
    </header>
    <div class="clearfix">
        {% for page in site.categories.audio limit:paginator.per_page offset:offs %}{% include meddex.html %}{% endfor %}{% for page in site.categories.audio limit:1 offset:offs2 %}{% assign cntr3 = '1' %}{% endfor %}
	</div>
</article>
{% if cntr1 == '1' or cntr2 == '1' or cntr3 == '1' or prevnr != '0' %}<div class="navi">
  {% if cntr1 == '1' or cntr2 == '1' or cntr3 == '1' %}<a href="/media/page{{ nextnr }}" class="prv" title="Older media">&#9664;</a>{% endif %}
  {% if prevnr != '0' %}<a href="{% if prevnr == '1' %}/media{% else %}/media/page{{ prevnr }}{% endif %}" class="nxt" title="Newer media">&#9654;</a>{% endif %}
</div>{% else %}
<hr>{% endif %}