/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Lafie custom styles
   ========================================================================== */

.chromeframe {
	line-height: 4em;
	background: #f00;
	border: 0;
	padding: 0 20px;
	min-width: 360px;
	margin: 0;
}
   
.container {
	min-width: 400px;
	max-width: 960px;
	margin: 0 auto;
	overflow:hidden;
	text-align: center;
}   
   
hr {
	height: 30px;
	margin: 0;
	padding: 0;
	border: 0;
}
   
a {
	color: #000;
	text-decoration: none;
	font-weight: 600;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 1em 0 0;
}

h1 {
	display: inline-block;
	font-size: 4.5em;
	font-weight: 300;
	margin: 25px 20px 0;
}

h2 {
	color: rgb(51,80,196);
	font-size: 2em;
	font-weight: 300;
	text-transform: lowercase;
	margin: 0 0 10px;
	line-height: 1em;
}

h3 {
	margin: 0;
	font-size: 2em;
	line-height: 1em;
	letter-spacing: -2px;
	font-weight: 400;	
}

h3 a {
	font-weight: 400;
}

em {
	font-style: normal;
	font-weight: 600;
}

address {
	display: inline;
	font-style: normal;
	font-weight: 600;
}

figure {
	border: solid 10px #333;
	border-radius: 4px;
	background: #333;
	margin: 1em;
}

img {
	width: 100%;
}

figcaption {
	color: #fff;
	padding: 10px 0 0;
}

.title {
	color: #222;
	font-weight: 300;
}

.title:hover {
	text-decoration: none;
}

.ttsup {
	font-size: 1em;
}

.btsup {
	font-size: 0.5em;
	text-shadow: 0px 0px 12px #fff;	
	color:	#000;
}
   
body {
	font: 0.8em 'Open Sans', Helvetica, arial, sans-serif;
	background: rgb(20,20,20);	
	margin: 0;
	padding: 0;
}

footer.container {
	text-align: right;
}

.cpr {
	margin: 0 30px;
}

.theme {
	margin: 0 30px 0 0;
}

.navi {
	background: rgb(51,80,196);
	min-width: 400px;
}

.sptlght {
	margin: 0;
	padding: 0;
	border-width: 4px;
	width: 232px;
	margin-left: auto;
}

.twitter {
	width: 240px;
	margin-left: auto;
}

.twitter a {
	color: #fff
}

#twitter_update_list {
	list-style: none;
	list-style-image: none;
	padding: 0;
	color: #fff;
}

.tweet {
	margin: 0 0 40px;
	display: block;
	text-align: left;
}

.status {
	font-weight: 300;
	font-size: 1.2em;
	color: #eee;
}

.twitlnk {
	font-weight: 300;
	text-align: right;
	display: block;
	font-size: 0.85em;
	clear: both;
	margin: 5px 0 0;
}

.twitpic {
	width: 50px;
	float: left;
	margin: 0 10px 0 0;
	vertical-align: top;
	border-width: 4px;
}

nav {
	display: inline-block;
	padding: 0;
	margin: 0 10px 20px;
	overflow: hidden;
}

.nav { 	
	margin: 0;	
	padding: 0;	
}

.navli {
	display: inline-block;
}

.active a{
	color: #fff;
}

.navli a {
	display: block;
	font-size: 2em;
	font-weight: 300;
	text-transform: lowercase;
	padding: 0.6em 1em;
	border-style: none solid none none;
	border-width: 1px;
	border-color: #000;
}

.navli:last-child a{
	border: 0;
}

.main {
	margin: 20px auto;
}

.focus {
	display: inline-block;
	text-align: left;
	min-width: 400px;	
	margin: 0 0 20px;
	vertical-align: top;
	width: 100%;
}

.articles {
	padding: 10px 0;
	background: #eee;
	border-radius: 10px;
}

.media {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	min-width: 230px;
}

article {
	margin: 0;
	padding: 30px;
	border-style: solid none;
	border-width: 1px;
	border-top-color: #fff;
	border-bottom-color: #ddd;
}

article:first-child {
	border-style: none none solid;
}

article:last-child {
	border-style: solid none none;
}

article:only-child {
	border: 0;
}

.pagi {
	display: block;
	font-size: 5em;
	padding: 0 30px;
	line-height: 1em;
	border-top: 1px solid #fff;
}

.prv {
	float: left;
}

.prv:hover {
	text-decoration: none;
}

.nxt {
	float: right;
}

.nxt:hover {
	text-decoration: none;
}

.twitter .feedload {
	color: #222;
}

.artinf {
	font-weight: 300;
	color: #555;
	line-height: 1em;
}

.gamenfo {
	width: 290px;
	margin: 0 30px 40px 0;
	color: #fff;
	display: inline-block;
	text-align: left;
}

.gmtl {
	line-height: 1.4em;
	display: block;
}

.gmtl:hover {
	text-decoration: none;
}

.gamefig {
	margin: 0;
	width: 100%;
	border-width: 4px;
}

.err {
	font-size: 5em;
	color: #fff;
	font-weight: 600;
}

.errdescr {
	font-size: 2em;
	color: #888;
}

.more {
	display: block;
	clear: both;
	width: 100%;
	margin: 1em 0 0;
	text-align: right;
}

.more a {
	font-size: 1.5em;
	font-weight: 300;
	text-transform: lowercase;
}

.cntr {
	text-align: center;
}

.noborder {
	border: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 48em) {
	.leftw {
		width: 68%;
	}
	
	.media {
		width: 32%;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}